body {
    max-width: 1440px;
    background-color: hsl(216, 12%, 8%);
    color: #fff;
    font-family: "Overpass", sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    max-width: 415px;
    height: 415px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 7%;
    gap: 25px;
}

.card .star {
    width: 48px;
    border-radius: 50%;
    padding: 13.5px;
    background-color: hsl(215, 19%, 25%);
}

.card h1 {
    font-size: 28px;
}

.card p {
    word-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.6;
}

.card .rate {
    display: flex;
    justify-content: space-between;
}

.card .rate li {
    border-radius: 50%;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    padding: 15px 22px;
    color: #a5a4a4;
    background-color:  hsl(215, 19%, 25%);
    cursor: pointer;
    transition: .2s ease-in;
}
.card .rate li:hover {
    background-color:hsl(217, 12%, 63%);
    color: #ffffff;
    opacity: 1;
}
.card .rate li.selected {
    background-color:hsl(25, 97%, 53%);
    color: #ffffff;
}
/* .card .rate li:active {
    background-color:hsl(25, 97%, 53%);
    color: #ffffff;
} */

.card .submit {
    color: #fff;
    background-color: hsl(25, 97%, 53%)
    ;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 20px;
    border: none;
    padding: 12px;
    cursor: pointer;
    transition: .1s ease-in-out;
}
.card .submit:hover{
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}
.card .submit:active{
    color: #fff;
    background-color: hsl(25, 97%, 53%);
}

.card .thank-you-img {
    margin: 0 auto;
    width: 170px;
}

.card .selection {
    color:  hsl(25, 97%, 53%);
    border-radius: 20px;
    justify-content: center;
    align-self:center;
    padding: 4px 20px;
    background-color:   hsl(215, 19%, 25%);
    display: none;
}

.card .selection.showed {
    display: block;
}